.white-img-box{
    .white{
        width:100%;
    }
    .explain{
        font-size:1.2rem;
        text-align:center;
        font-weight:bold;
    }
    .time{
        margin-top:1rem;
        font-size:0.8rem;
        text-align:center;
    }
}