<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>珠宝</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
</head>
<body flex="dir:top">
    <!-- 顶部导航栏 -->
    <header class="head" flex="dir:left main:justify cross:center" flex-box="0">
        <div class="logo-box" flex-box="0">
            <img src="../img/logo.png" alt="梦婚礼logo">
        </div>
        <div id="downloadapp" class="download-box" flex-box="0">
            <img src="../img/download.png" alt="下载app">
        </div>
    </header>  
    <!-- 顶部选项卡 -->
    <section class="first-nav" flex="dir:left box:mean cross:center" flex-box="0">
        <h1 class="choose"><a href="#">精选</a></h1>
        <h1><a href="#">咨讯</a></h1>
        <h1><a href="#">视频</a></h1>
        <h1><a href="#">挑婚纱</a></h1>     
    </section>
    <section class="white-img-box" flex-box="1" flex="dir:top main:center cross:center">
        <img class="white" src="../img/white.jpg" alt="error-white">
        <p class="explain">抱歉，暂时没有找到符合您要求的商品~</p>
        <p class="time">将于3s后返回上一页</p>
    </section>
    <footer class="foot" flex="dir:top cross:center main:justify" flex-box="0">
        <section class="foot_nav" flex="dir:left main:center cross:center">
            <a href="">触屏版</a>
            <span>|</span>
            <p id="download">客户端</p>
            <span>|</span>
            <a href="">站点地图</a>
        </section>
        <p>梦婚礼 menghunli.com版权所有</p>
        <p>京ICP备15053624号-2</p>
    </footer>
</body>
</html>
