<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>案例分享</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
</head>
<body>
<input type="hidden" value="188" id="article_id">
<header class="top_img">
    <img src="../img/details_con.png" alt="" flex="dir:left main:center cross:top" alt="">
</header>
<section class="top_title">
    <h1 class="title">同爱《老友记》，你们笑成逗比，而我们却把它搬进婚礼</h1>
    <p class="case_info">婚礼信息：2016年3月&nbsp|&nbsp 500人 &nbsp|&nbsp ￥30000</p>
    <p class="case_desc">
    清晨的阳光叫醒沉睡的花朵<br>
    玻璃房里打造の田野清新系婚礼<br>
    还原《老友记》咖啡屋变甜品台<br>
    一场弥漫爱情和友情的暖心婚礼</p>
</section>
<section class="content">
    <div class="moudles_intr">
        <h2>婚礼手绘图</h2>
        <p>策划师将关于新人的梦想融入到婚礼的设计中，用手绘图提案给新人确认...</p>
        <p>
            <img src="../img/banner.jpg" alt="">
        </p>
        <p>
            <span id="test_video" vid="XMjUzNDIxMzA2MA==" clid="4f69217c5533230d"></span>
        </p>
    </div>
    <div class="moudles_intr">
        <h2>婚礼手绘图</h2>
        <p>策划师将关于新人的梦想融入到婚礼的设计中，用手绘图提案给新人确认...</p>
        <p>
            <img src="../img/banner.jpg" alt="">
        </p>
        <p>
            <span id="test_video1" vid="XMjUzNDIxMzA2MA==" clid="4f69217c5533230d"></span>
        </p>
    </div>
    <div class="tag">
        <span>夏季婚礼</span>
        <span>一二三四</span>
        <span>三阳开泰</span>
        <span>上山打老虎</span>
        <span>六六大顺</span>
    </div>
    <div class="moudles_info">
        <h2>婚礼周边</h2>
        <p>甜品桌下装饰了复古质感的Friends海报，Joey的企鹅Hugsy玩偶，以及Monica红Chandler开心的火鸡等元素。</p>
        <p>
            <img src="../img/banner.jpg" alt="">
        </p>
    </div>
    <div class="moudles_info">
        <h2>婚礼周边</h2>
        <p>甜品桌下装饰了复古质感的Friends海报，Joey的企鹅Hugsy玩偶，以及Monica红Chandler开心的火鸡等元素。</p>
        <p>
            <img src="../img/banner.jpg" alt="">
        </p>
    </div>
    <div class="wedding_info">
        <h2>婚礼信息</h2>
        <ul>
            <li>
                <img src="../img/story_weddinginf_date@3x.png" alt="">
                2017年1月
            </li>
            <li>
                <img src="../img/story_weddinginf_place@3x.png" alt="">
                200~300人
            </li>
            <li>
                <img src="../img/story_weddinginf_size@3x.png" alt="">
                北京万豪大酒店~贵宾厅
            </li>
        </ul>
    </div>
    <div class="wedding_cost">
        <h2>婚礼团队&费用</h2>
        <ul>
            <li flex='dir:left main:justify cross:center'>
                <div>
                    <span>策划</span>
                    <span>￥130000</span>
                </div>
                <div flex='dir:left main:justify cross:center'>
                    <p>mocha婚礼策划工作室</p>
                    <img src="../img/productcontent_price.png" alt="">
                </div>
            </li>
            <li flex='dir:left main:justify cross:center'>
                <div>
                    <span>策划</span>
                    <span>￥130000</span>
                </div>
                <div flex='dir:left main:justify cross:center'>
                    <p>mocha婚礼策划工作室</p>
                    <img src="../img/productcontent_price.png" alt="">
                </div>
            </li>
            <li flex='dir:left main:justify cross:center'>
                <div>
                    <span>策划</span>
                    <span>￥130000</span>
                </div>
                <div flex='dir:left main:justify cross:center'>
                    <p>mocha婚礼策划工作室</p>
                    <img src="../img/productcontent_price.png" alt="">
                </div>
            </li>
            <li flex='dir:left main:justify cross:center'>
                <div>
                    <span>策划</span>
                    <span>￥130000</span>
                </div>
                <div flex='dir:left main:justify cross:center'>
                    <p class="no_data">暂无数据</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="comments">        
        <div class="user_comment">
            <h2>新娘评论</h2>
            <img src="../img/productcontent_price.png" alt="" class="user_head">
            <span class="user_name">我我结婚啦</span>
            <p>
                我们是2015年3月春季婚博会预定的。COCO姐很靠谱，我们也比较放心。绚丽会根据我们的要求，安排酒店布置方案及婚礼人员。目前的进度如下【后续会根据实际工作更新】2015年4月 初步需求沟通，酒店查勘测量2015年5月策划师制作酒店布置方案2015年5月31日安排试妆，试妆后来点评效..缺点 建议绚丽能给新人一个筹婚进度计划表。                
            </p>
            <p>
                <img src="../img/zhubao.png" alt="">
                <img src="../img/zhubao.png" alt="">
                <img src="../img/zhubao.png" alt="">
                <img src="../img/zhubao.png" alt="">
            </p>
        </div>
        <div class="user_comment">
            <h2>其他评论</h2>
            <img src="../img/productcontent_price.png" alt="" class="user_head">
            <p>
                静文老师非常nice，与她合作多次，每次都十分顺利，这场婚礼的新人对于婚礼非常有想法。  
            </p>
        </div>
    </div>
</section>
<footer class="app_down" flex="dir:left cross:center">
    <div class="img-box" flex-box="1"><img src="../img/Page.png" alt="梦婚礼logo"></div>
    <div class="download-box" flex-box="0" id="download">
        <span>下载APP</span>
    </div>
    <div class="close-box" flex-box="0">
        <img src="../img/load_icon_close@3x.png" alt="" class="close-footer">
    </div>
</footer>
<script type="text/javascript" src="//player.youku.com/jsapi"></script>
</body>
</html>
