<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="描述" />
    <meta name="Keywords" content="关键字" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <title>首页</title>
</head>
<body>
    <header class="head" flex="dir:left main:justify cross:center">
        <div class="logo-box" flex-box="0">
            <img src="../img/logo.png" alt="梦婚礼logo">
        </div>
        <div id="downloadapp" class="download-box" flex-box="0">
            <img src="../img/download.png" alt="下载app">
        </div>
    </header>
    <section class="first-nav" flex="dir:left box:mean cross:center">
        <h1 class="choose"><a href="#">精选</a></h1>
        <h1><a href="#">咨讯</a></h1>
        <h1><a href="#">视频</a></h1>
        <h1><a href="#">挑婚纱</a></h1>     
    </section>
    <section class="consultation" flex="dir:top">
        <div class="top-img-box">
            <span class="title">逛资讯</span>
            <a href="" class="img-box">
                <img src="http://oss-image.menghunli.com/2017-01/1484275495453_%E6%9C%AA%E6%A0%87%E9%A2%98-1.jpg@!640_db" alt="">
            </a>
            <h2 class="img-word"><a href="">这场一万朵鲜花簇拥的婚礼足以撩爆</a></h2>
        </div>
        <div class="msg-list" flex="dir:left">
            <a href="" class="img-box" flex-box="0">
                <img src="http://oss-image.menghunli.com/2017-03/1488763381030_%E5%B0%81%E9%9D%A2.png@!300x200" alt="">
            </a>
            <div class="word-box" flex="dir:top" flex-box="1">
                <a class="word" href="" flex-box="1">
                    <p>小清新户外婚礼 | 地震分不开的，谁也别想拆散</p>
                </a>
                <a class="tag_time" flex-box="0" flex="dir:left">
                    <span>户外婚礼</span>
                    <span>03/06</span>
                </a>
            </div>
        </div>
    </section>
    <nav class="list-nav" flex="dir:left cross:center box:mean">
        <h2><a href="">策划</a></h2>
        <h2><a href="">摄影</a></h2>
        <h2><a href="">婚纱</a></h2>
        <h2><a href="">...</a></h2>
    </nav>
    <section class="video" flex="dir:top">
        <div class="top-img-box">
            <span class="title">看视频</span>
            <a href="" class="img-box">
                <img src="http://oss-image.menghunli.com/2017-01/1484275495453_%E6%9C%AA%E6%A0%87%E9%A2%98-1.jpg@!640_db" alt="">
            </a>
            <h2 class="img-word"><a href="">这场一万朵鲜花簇拥的婚礼足以撩爆</a></h2>
        </div>
        <div class="msg-list" flex="dir:left">
            <a href="" class="img-box" flex-box="0">
                <img src="http://oss-image.menghunli.com/2017-03/1488763381030_%E5%B0%81%E9%9D%A2.png@!300x200" alt="">
                <span class="time">08:56</span>
            </a>
            <div class="word-box" flex="dir:top" flex-box="1">
                <a class="word" href="" flex-box="1">
                    <p>小清新户外婚礼 | 地震分不开的，谁也别想拆散</p>
                </a>
                <a class="tag_time" flex-box="0" flex="dir:left">
                    <span>户外婚礼</span>
                    <span>03/06</span>
                </a>
            </div>
        </div>
    </section>
    <nav class="list-nav" flex="dir:left cross:center box:mean">
        <h2><a href="">求婚</a></h2>
        <h2><a href="">现场</a></h2>
        <h2><a href="">跟拍</a></h2>
        <h2><a href="">大咖</a></h2>
        <h2><a href="">...</a></h2>
    </nav>
    <section class="choose-wedding" flex="dir:top">
        <div class="title-logo" flex="dir:left cross:center">
            <img src="../img/bridedress.png" alt="">
            <h2>挑婚纱</h2>
        </div>
        <div class="choose-img-box">
            <div class="choose-box clearfix">
                <a href=""><img src="http://oss-devimage.menghunli.com/2017-01/1484808133544_%E6%A0%B9%E6%8D%AE%E8%BA%AB%E5%9E%8B%E9%80%89%E5%A9%9A%E7%BA%B1.png@!640_db" alt=""></a>
                <a href=""><img src="http://oss-devimage.menghunli.com/2017-01/1484808133544_%E6%A0%B9%E6%8D%AE%E8%BA%AB%E5%9E%8B%E9%80%89%E5%A9%9A%E7%BA%B1.png@!640_db" alt=""></a>
                <a href=""><img src="http://oss-devimage.menghunli.com/2017-01/1484808133544_%E6%A0%B9%E6%8D%AE%E8%BA%AB%E5%9E%8B%E9%80%89%E5%A9%9A%E7%BA%B1.png@!640_db" alt=""></a>
                <a href=""><img src="http://oss-devimage.menghunli.com/2017-01/1484808133544_%E6%A0%B9%E6%8D%AE%E8%BA%AB%E5%9E%8B%E9%80%89%E5%A9%9A%E7%BA%B1.png@!640_db" alt=""></a>      
            </div>
        </div>
    </section>
    <section class="other-box clearfix">
        <a class="other-list" flex="dir:top" href="http://m.menghunli.com/hunsha_detail/112/">
            <div class="img-box">
                <img src="http://oss-menghunliproductphotos.menghunli.com/commodity/2017-01/1484725932021_1484725986968__MG_0156(1).jpg@!200x300_w">
            </div>
            <div class="word">
                <p>Julia 深V透明薄纱鱼尾婚纱</p>
            </div>
            <div class="explain" flex="dir:left main:justify">
                <span flex-box="0">深V透明薄纱鱼尾婚纱深</span>
            </div>
        </a>
    </section>
    <nav class="list-nav" flex="dir:left cross:center box:mean">
        <h2><a href="">A字裙</a></h2>
        <h2><a href="">公主裙</a></h2>
        <h2><a href="">鱼尾裙</a></h2>
        <h2><a href="">直筒裙</a></h2>
        <h2><a href="">...</a></h2>
    </nav>
    <footer class="foot" flex="dir:top cross:center main:justify">
        <section class="foot_nav" flex="dir:left main:center cross:center">
            <a href="">触屏版</a>
            <span>|</span>
            <p id="download">客户端</p>
            <span>|</span>
            <a href="">站点地图</a>
        </section>
        <p>梦婚礼 menghunli.com版权所有</p>
        <p>京ICP备15053624号-2</p>
    </footer>
</body>
</html>