<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>移动分享</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
</head>
<body>
<header class="top_img">
    <img src="../img/details_con.png" alt="" flex="dir:left main:center cross:top">
</header>
<section class="content">
    <h1 class="title">婚纱不止白色，彩色婚纱也能美上天</h1>
    <p class="article">夏天有它自己的味道，一如春天有青草香，久久不能退散，闻至纯而不腻</p>
</section>
<article class="other_article">
    <section flex="dir:left cross:center" class="msg-box">
        <div flex-box="0" class="explain">
            <h2>这场一碗端鲜花簇拥的婚礼足以撩爆你的少女心</h2>
            <p>随着气温的不断升高，人们对“大红大紫”的热情逐渐消减</p>
        </div>         
        <div flex-box="1" class="img-box">
            <img src="../img/videoicon.png" alt="">
        </div>               
    </section>
    <section flex="dir:left cross:center" class="msg-box">
        <div flex-box="0" class="explain">
            <h2>这场一碗端鲜花簇拥的婚礼足以撩爆你的少女心</h2>
            <p>随着气温的不断升高，人们对“大红大紫”的热情逐渐消减</p>
        </div>         
        <div flex-box="1" class="img-box">
            <img src="../img/videoicon.png" alt="">
        </div>               
    </section>
    <section flex="dir:left cross:center" class="msg-box">
        <div flex-box="0" class="explain">
            <h2>这场一碗端鲜花簇拥的婚礼足以撩爆你的少女心</h2>
            <p>随着气温的不断升高，人们对“大红大紫”的热情逐渐消减</p>
        </div>         
        <div flex-box="1" class="img-box">
            <img src="../img/videoicon.png" alt="">
        </div>               
    </section>
</article>
<div class="nav-space"></div>
<footer class="app_down" flex="dir:left cross:center">
    <div class="img-box" flex-box="1"><img src="../img/Page.png" alt="梦婚礼logo"></div>
    <div class="download-box" flex-box="0" id="download">
        <span>下载APP</span>
    </div>
    <div class="close-box" flex-box="0">
        <img src="../img/load_icon_close@3x.png" alt="" class="close-footer">
    </div>
</footer>
</body>
</html>
