<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>珠宝</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
</head>

<body>
    <!-- 顶部浮窗 -->
    <header class="head" flex="dir:left main:justify cross:center" flex-box="0">
        <div class="back-box" flex-box="0" flex="dir:left cross:center">
            <img src="../img/Shape.png" alt="">
        </div>
        <p class="title">参数详解</p>
        <div class="nav" flex="dir:left cross:center">
            <img src="../img/topbar_menu.png" alt="导航">
            <span>导航</span>
        </div>
    </header>
    <div class="nav-choose" id="nav-choose" flex="dir:top">
        <ul flex="dir:left box:mean">
            <li><a href="/page/h5/index/Index">精选</a></li>
            <li><a href="/page/h5/article/ChannelList?channel_id=5">资讯</a></li>
            <li><a href="/page/h5/article/ChannelList?channel_id=11">视频</a></li>
        </ul>
        <ul flex="dir:left box:mean">
            <li><a href="/page/h5/wedding_dress/GetWeddingDressList">挑婚纱</a></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <!-- 遮罩层 -->
    <div class="shandow hidden"></div>
    <!-- 身材体型 -->
    <p flex="dir:left main:center cross:center" id="tixing">
        <span class="explain-title">身材体型</span>
    </p>
    <div class="explain">
        <p>身体形主要取决于胸部、腰部和臀部尺寸以及肩膀的形状和厚度。</p>
    </div>
    <div class="img-box">
        <img src="../img/tixing.png">
    </div>
    <!-- 拖尾设计 -->
    <p flex="dir:left main:center cross:center" id="tuowei">
        <span class="explain-title">拖尾设计</span>
    </p>
    <div class="explain">
        <p>按照婚纱礼服的裙摆长度设计来定义分类：及地式、曳地式、小教堂式、大教堂式、女王式</p>
        <p>及地式：刚接触地面</p>
        <p>曳地式：小拖尾0-150cm为长度拖尾</p>
        <p>小教堂式：中拖尾150cm-250cm左右，常规拖尾长度</p>
        <p>大教堂式：长拖尾350cm-500cm左右</p>
        <p>女王式：超长大拖尾500cm以上</p>
    </div>
    <div class="img-box">
        <img src="../img/tuowei.png">
    </div>
    <!-- 婚纱轮廓 -->
    <p flex="dir:left main:center cross:center" id="luokuo">
        <span class="explain-title">婚纱轮廓</span>
    </p>
    <div class="explain">
        <p>按照婚纱的设计轮廓来区分，大致可以分为四种设计板式：A字形、鱼尾形、公主裙、直筒裙。</p>
    </div>
    <div class="img-box last">
        <img src="../img/lunkuo.png">
    </div>
    <footer class="foot" flex="dir:top cross:center main:justify" flex-box="0">
        <section class="foot_nav" flex="dir:left main:center cross:center">
            <a href="">触屏版</a>
            <span>|</span>
            <p id="download">客户端</p>
            <span>|</span>
            <a href="">站点地图</a>
        </section>
        <p>梦婚礼 menghunli.com版权所有</p>
        <p>京ICP备15053624号-2</p>
    </footer>
</body>

</html>
