<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>珠宝</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
</head>

<body>
    <!-- 顶部浮窗 -->
    <header class="head head-fixed head-black" flex="dir:left main:justify cross:center" flex-box="0">
        <div class="back-box" flex-box="0" flex="dir:left cross:center">
            <img src="../img/Shape.png" alt="">
        </div>
        <p class="title">
            <span class="now"></span>
            <span>/</span>
            <span>25</span>
        </p>
        <div class="nav" flex="dir:left cross:center">
            <img src="../img/topbar_menu.png" alt="导航">
            <span>导航</span>
        </div>
    </header>
    <!-- 图集 -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="swiper-zoom-container">
                    <img data-src="http://oss-devimage.menghunli.com/commodity/2016-12/1482301646598_1482301641963_C89A3148.jpg@!640_db" class="swiper-lazy" data-kind='0'>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-zoom-container">
                    <img data-src="http://oss-devimage.menghunli.com/commodity/2016-12/1482301646598_1482301641963_C89A3148.jpg@!640_db" class="swiper-lazy" data-kind='0'>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-zoom-container">
                    <img data-src="http://oss-devimage.menghunli.com/commodity/2016-12/1482301646598_1482301641963_C89A3148.jpg@!640_db" class="swiper-lazy" data-kind='0'>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-zoom-container">
                    <img data-src="http://oss-devimage.menghunli.com/commodity/2016-12/1482301646598_1482301641963_C89A3148.jpg@!640_db" class="swiper-lazy" data-kind='0'>
                </div>
            </div>
            <div class="swiper-slide swiper-zoom-container">
                <div class="swiper-zoom-container">
                    <img data-src="http://oss-devimage.menghunli.com/commodity/2016-12/1482301646598_1482301641963_C89A3148.jpg@!640_db" class="swiper-lazy" data-kind='1'>
                </div>
            </div>
            <div class="swiper-slide swiper-zoom-container">
                <div class="swiper-zoom-container">
                    <img data-src="http://oss-devimage.menghunli.com/commodity/2016-12/1482301646598_1482301641963_C89A3148.jpg@!640_db" class="swiper-lazy" data-kind='2'>
                </div>
            </div>
            <div class="swiper-slide swiper-zoom-container">
                <div class="swiper-zoom-container">
                    <img data-src="http://oss-devimage.menghunli.com/commodity/2016-12/1482301646598_1482301641963_C89A3148.jpg@!640_db" class="swiper-lazy" data-kind='3'>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部浮框 -->
    <footer flex='dir:left cross:bottom' class="foot_float">
        <div flex="dir:left box:mean cross:center" flex-box="1" class='kind'>
            <p class='model'>模特实拍</p>
            <p class='details'>实景细节</p>
            <p class='graphic'>图解</p>
            <p class='official'>官方图</p>
        </div>
        <div class="order"></div>
    </footer>
    <!--end-->
    <div class="nav-choose" id="nav-choose" flex="dir:top">
        <ul flex="dir:left box:mean">
            <li><a href="/page/h5/index/Index">精选</a></li>
            <li><a href="/page/h5/article/ChannelList?channel_id=5">资讯</a></li>
            <li><a href="/page/h5/article/ChannelList?channel_id=11">视频</a></li>
        </ul>
        <ul flex="dir:left box:mean">
            <li><a href="/page/h5/wedding_dress/GetWeddingDressList">挑婚纱</a></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <!-- 遮罩层 -->
    <div class="shandow hidden"></div>
</body>

</html>
