<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="描述" />
    <meta name="Keywords" content="关键字" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <title>站点地图</title>
</head>
<body flex="dir:top">
    <header class="head" flex="dir:left main:justify cross:center" flex-box="0">
        <div class="logo-box" flex-box="0">
            <img src="../img/logo.png" alt="梦婚礼logo">
        </div>
        <div id="downloadapp" class="download-box" flex-box="0">
            <img src="../img/download.png" alt="下载app">
        </div>
    </header>
    <section class="section1" flex-box="1">
        <nav class="channel">
            <span class="channel_icon">全部频道</span>
            <ul>
                <li><a href="http://m.menghunli.com" title="">精选</a></li>
                <li><a href="http://m.menghunli.com/news/cehua/" title="">资讯</a></li>
                <li><a href="http://m.menghunli.com/shipin/cyqh/" title="">视频</a></li>
                <li><a href="http://m.menghunli.com/hunfu/" title="">挑婚纱</a></li>
                <li><a href="" title="">选珠宝</a></li>
            </ul>
        </nav>
    </section>
    <section class="section2" flex-box="1">
        <nav class="news">
            <span class="news_icon">资讯</span>
            <ul>
                <li><a href="http://m.menghunli.com/news/cehua/" title="">婚礼策划</a></li>
                <li><a href="http://m.menghunli.com/news/sheying/" title="">婚纱摄影</a></li>
                <li><a href="http://m.menghunli.com/news/hunsha/" title="">婚纱元素</a></li>
                <li><a href="http://m.menghunli.com/news/zhubao/" title="">珠宝首饰</a></li>
            </ul>
        </nav>
        <nav class="videos">
            <span class="videos_icon">视频</span>
            <ul>
                <li><a href="http://m.menghunli.com/shipin/cyqh/" title="">创意求婚</a></li>
                <li><a href="http://m.menghunli.com/shipin/mv/" title="">婚礼MV</a></li>
                <li><a href="http://m.menghunli.com/shipin/hlxc/" title="">婚礼现场</a></li>
                <li><a href="http://m.menghunli.com/shipin/chhx/" title="">大咖访谈</a></li>
            </ul>
        </nav>
    </section>
    <footer class="foot" flex="dir:top cross:center main:justify" flex-box="0">
        <section class="foot_nav" flex="dir:left main:center cross:center">
            <a href="">触屏版</a>
            <span>|</span>
            <p id="download">客户端</p>
            <span>|</span>
            <a href="">站点地图</a>
        </section>
        <p>梦婚礼 menghunli.com版权所有</p>
        <p>京ICP备15053624号-2</p>
    </footer>
</body>
</html>