<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="描述" />
    <meta name="Keywords" content="关键字" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <title>视频详情页</title>
</head>
<body flex="dir:top">
    <input type="hidden" id="vid" value="XOTYxNDk5NjUy" flex-box="0">
    <input type="hidden" id="client_id" value="4f69217c5533230d" flex-box="0">
    <input type="hidden" id="article_id" value="1" flex-box="0">
    <header class="head" flex="dir:left main:justify cross:center" flex-box="0">
        <div class="back-box" flex-box="0" flex="dir:left cross:center">
            <img src="../img/Shape.png" alt="">
            <span>梦婚礼-视频</span>
        </div>
        <div class="list-box" flex-box="0" flex="dir:left cross:center">
            <h1><a href="">资讯</a></h1>
            <h1><a href="">视频</a></h1>
            <h1><a href="">挑婚纱</a></h1>
        </div>
    </header>
    <section id="youkuplayer" flex-box="0"></section>
    <section class="video-msg" flex-box="1" flex="dir:top">
        <h1 class="title">美国：呆萌企鹅化身“捧戒神童”助男子求婚</h1>
        <div class="time-num" flex="dir:left">
            <span>哈哈</span>
            <span>2016/10/28</span>
            <span>55次播放</span>
        </div>
        <section class="msg">
            <p>花艺师选择了20余种花材。</p>
            <img src="http://oss-image.menghunli.com/2017-01/1483948708220_IMG_3096.JPG@!640_db" alt="">
        </section>
        <div class="tags clearfix">
            <a href="" flex="dir:left cross:center">
                <img src="../img/details_label.png" alt="">
                <span>创意求婚</span>
            </a>
        </div>
    </section>
    <section class="seller_msg" flex='dir:top'>
        <div class="business-box" flex="dir:left cross:top">
            <div flex-box="0" class="business-icon">
                <img src="http://oss-menghunliproductphotos.menghunli.com/seller/2017-01/1484722579361_1484722717561_802879548825227648.jpg@!100x100">
            </div>
            <div flex-box="1" class="business-msg" flex="dir:top">
                <p class="name">女王嫁到</p>
                <p class="address">太平庄中街太平家园10号楼2单元5楼西户</p>
            </div>
            <a flex-box="0" class="business-tel" href="tel:18910316042">
                <img src="../img/productcontent_adv_diaico@3x.png">
            </a>
        </div>
    </section>
    <section class="relevant" flex='dir:top'>
        <div class="title" flex='dir:left cross:center'>
            <img src="../img/details_ready.png" alt="相关视频">
            <h2>相关视频</h2>
        </div>
        <a flex='dir:left'>
            <div class="img-box" flex-box="0">
                <img src="http://oss-image.menghunli.com/2017-02/1488184714746_106125.png@!300x200" alt=""> 
            </div>
            <div class="msg-box" flex='dir:top main:justify' flex-box="1">
                <p class="explain">长得美是优势活得美是本事，美国新总统川普女儿的婚礼是咋搞的</p>
                <p class="time">
                    <span>梦婚礼</span>
                    <span>02/27</span>
                </p>
            </div> 
        </a>
        <a flex='dir:left'>
            <div class="img-box" flex-box="0">
                <img src="http://oss-image.menghunli.com/2017-02/1488184714746_106125.png@!300x200" alt=""> 
            </div>
            <div class="msg-box" flex='dir:top main:justify' flex-box="1">
                <p class="explain">长得美是优势活得美是本事，美国新总统川普女儿的婚礼是咋搞的</p>
                <p class="time">
                    <span>梦婚礼</span>
                    <span>02/27</span>
                </p>
            </div> 
        </a>
    </section>
    <footer class="foot" flex="dir:top cross:center main:justify" flex-box="0">
        <section class="foot_nav" flex="dir:left main:center cross:center">
            <a href="">触屏版</a>
            <span>|</span>
            <p id="download">客户端</p>
            <span>|</span>
            <a href="">站点地图</a>
        </section>
        <p>梦婚礼 menghunli.com版权所有</p>
        <p>京ICP备15053624号-2</p>
    </footer>
    <script type="text/javascript" src="//player.youku.com/jsapi"></script>
</body>
</html>