<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>珠宝</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
</head>
<body flex="dir:top">
    <!-- 参数 -->
    <input type='hidden' value="r1s2" id="parameter" flex-box="0">
    <!-- 顶部导航栏 -->
    <header class="head" flex="dir:left main:justify cross:center">
        <div class="logo-box" flex-box="0">
            <img src="../img/logo.png" alt="梦婚礼logo">
        </div>
        <div id="downloadapp" class="download-box" flex-box="0">
            <img src="../img/download.png" alt="下载app">
        </div>
    </header>
    <!-- 顶部选项卡 -->
    <section class="first-nav" flex="dir:left box:mean cross:center">
        <h1 class="choose"><a href="#">精选</a></h1>
        <h1><a href="#">咨讯</a></h1>
        <h1><a href="#">视频</a></h1>
        <h1><a href="#">挑婚纱</a></h1>     
    </section>
    <!-- 选项卡 -->
    <section class="dm-choose" flex="dir:left cross:center box:mean"  flex-box="0">
        <div class="Intelligence search" flex-box="3" flex="dir:left main:center cross:center">
            <span class="choose">智能排序</span>
            <span class="arrow"></span>
            <div class="detail hidden" flex="dir:top">
                <span>智能排序</span>
                <span data-ordertype="r1">价格从低到高</span>
                <span data-ordertype="r2">价格从高到低</span>
            </div>
        </div>
        <div class="Lease search" flex-box="3" flex="dir:left main:center cross:center">
            <span class="circle"></span>
            <span class="choose">可租赁</span>
        </div>
        <div class="condition search" flex-box="4" flex="dir:left main:center cross:center">
            <img src="../img/jewelry_select.png" flex-box="0">
            <span>按条件选珠宝</span>
        </div>
    </section>
    <!-- 内容 -->
    <section class="jew-container clearfix"  flex-box="1">
        <div class="left-side">
            <div class="jew-list" flex="dir:top" data-id="47">
                <a href="http://dev9000.menghunli.com/hunsha_detail/47/">
                    <div class="img-box">
                        <img src="http://oss-menghunliproductphotos.menghunli.com/commodity/2017-01/1484294788540_1484294843548_C89A9166.jpg@!200x300_w" alt="">
                    </div>
                    <div class="word">
                        <h3>女王嫁到 2016 冰雪王后士大夫黄金时代回复即可收到回复空间收到回复可视对讲换肤</h3>
                    </div>
                </a>
                <div class="money_like" flex="dir:left main:justify">
                    <span flex-box="0">¥ 暂无报价/<a href="">可租赁</a></span>
                    <div flex-box="0" flex="dir:left cross:center main:center" class="star"></div>
                </div>
            </div>
            <div class="jew-list" flex="dir:top" data-id="47" >
                <a href="http://dev9000.menghunli.com/hunsha_detail/47/" title="">
                    <div class="img-box">
                        <img src="http://oss-menghunliproductphotos.menghunli.com/commodity/2017-01/1484294788540_1484294843548_C89A9166.jpg@!200x300_w" alt="">
                    </div>
                    <div class="word">
                        <h3>女王嫁到 2016 冰雪王后2</h3>
                    </div>
                </a>
                <div class="money_like" flex="dir:left main:justify">
                    <span flex-box="0">¥ 暂无报价/<a href="">可租赁</a></span>
                    <div flex-box="0" flex="dir:left cross:center main:center" class="star"></div>
                </div>
            </div>
        </div>
        <div class="right-side">
            <div class="choose-box" flex="dir:top main:justify">
                <ul class="out choose-kind clearfix" flex-box="0">
                    <li data-id="a1"><h2>A字形</h2></li>
                    <li data-id="a2"><h2>鱼尾形</h2></li>
                    <li data-id="t1"><h2>骨感型</h2></li>
                    <li data-id="t2"><h2>骨感型</h2></li>
                    <li data-id="t4"><h2>梨型</h2></li>
                    <li>...</li>
                </ul>
            </div>
            <div class="jew-list" flex="dir:top" data-id="47">
                <a href="http://dev9000.menghunli.com/hunsha_detail/47/">
                    <div class="img-box">
                        <img src="http://oss-menghunliproductphotos.menghunli.com/commodity/2017-01/1484294788540_1484294843548_C89A9166.jpg@!200x300_w" alt="">
                    </div>
                    <div class="word">
                        <h3>女王嫁到 2016 冰雪王后3</h3>
                    </div>
                </a>
                <div class="money_like" flex="dir:left main:justify">
                    <span flex-box="0">¥ 暂无报价/ <a href="">可租赁</a></span>
                    <div flex-box="0" flex="dir:left cross:center main:center" class="star"></div>
                </div>
            </div>
            <div class="jew-list" flex="dir:top" data-id="47" >
                <a href="http://dev9000.menghunli.com/hunsha_detail/47/">
                    <div class="img-box">
                        <img src="http://oss-menghunliproductphotos.menghunli.com/commodity/2017-01/1484294788540_1484294843548_C89A9166.jpg@!200x300_w" alt="">
                    </div>
                    <div class="word">
                        <h3>女王嫁到 2016 冰雪王后4</h3>
                    </div>
                </a>
                    <div class="money_like" flex="dir:left main:justify">
                        <span flex-box="0">¥ 暂无报价/ 可租赁</span>
                        <div flex-box="0" flex="dir:left cross:center main:center" class="star"></div>
                    </div>                
            </div>
        </div>
    </section>
    <!-- 侧栏 -->
    <div class="side-choose" id="side-choose">
        <div flex="dir:top" class="filter-box">
            <div flex-box="0" flex="dir:left cross:center box:mean" class="top-choose">
                <div class="filter-kind" data-filter="0">不限品类</div>
                <div class="filter-kind" data-filter="1">婚纱</div>
                <div class="filter-kind" data-filter="2">礼服</div>
            </div>
            <div flex-box="1" class="kind-box">
                <div class="kind-name all wed dre" flex="dir:left main:justify cross:center">
                    <span>购买方式</span>
                    <span></span>
                </div>
                <ul class="kind-list clearfix all wed dre kind">
                    <li class="remove_id">不限</li>
                    <li data-id="s1">售卖</li>
                    <li data-id="s2">租赁</li>
                </ul>
                <div class="kind-name all wed dre" flex="dir:left main:justify cross:center">
                    <span>售卖价格</span>
                    <span></span>
                </div>
                <ul class="kind-list clearfix money all wed dre">
                    <li class="remove_id">不限</li>
                    <li data-id="j1">1000-3000</li>
                    <li data-id="j2">3001-1w</li>
                    <li data-id="j3">1w-2w</li>
                    <li data-id="j4">2w以上</li>
                </ul>
                <div class="kind-name dre" flex="dir:left main:justify cross:center">
                    <span>中式款式</span>
                    <span></span>
                </div>
                <ul class="kind-list clearfix dre china_style">
                    <li class="remove_id">不限</li>
                    <li data-id="f1">长旗袍</li>
                    <li data-id="f2">单片裙</li>
                    <li data-id="f3">六片裙</li>
                    <li data-id="f4">八片裙</li>
                </ul>
                <div class="kind-name all wed dre" flex="dir:left main:justify cross:center">
                    <span>身材体型</span>
                    <a href="#">参数图解></a>
                </div>
                <ul class="kind-list clearfix all wed dre figure">
                    <li class="remove_id">不限</li>
                    <li data-id="t1">骨感型</li>
                    <li data-id="t2">苹果型</li>
                    <li data-id="t3">沙漏型</li>
                    <li data-id="t4">梨形</li>
                </ul>
                <div class="kind-name all wed" flex="dir:left main:justify cross:center">
                    <span>拖尾设计</span>
                    <a href="#">参数图解></a>
                </div>
                <ul class="kind-list clearfix trailing all wed">
                    <li class="remove_id">0cm 及地式</li>
                    <li data-id="w1">0~150cm 曳地式</li>
                    <li data-id="w2">151~250cm 小教堂式</li>
                    <li data-id="w3">251~500cm 大教堂式</li>
                    <li data-id="w4">>500cm 女王式</li>
                </ul>
                <div class="kind-name all wed" flex="dir:left main:justify cross:center">
                    <span>领口设计</span>
                    <span></span>
                </div>
                <ul class="kind-list clearfix all wed neckline">
                    <li class="remove_id">不限</li>
                    <li data-id="k1">抹胸</li>
                    <li data-id="k2">单肩款</li>
                    <li data-id="k3">一字肩</li>
                    <li data-id="k4">V型领</li>
                    <li data-id="k5">心形</li>
                    <li data-id="k6">立领</li>
                    <li data-id="k7">一字领</li>
                    <li data-id="k8">圆领</li>
                    <li data-id="k9">方领</li>
                    <li data-id="k10">U型领</li>
                    <li data-id="k11">船形领</li>
                </ul>
                <div class="kind-name all wed dre" flex="dir:left main:justify cross:center">
                    <span>袖口设计</span>
                    <span></span>
                </div>
                <ul class="kind-list clearfix all wed dre cuff">
                    <li class="remove_id">不限</li>
                    <li data-id="x1">无袖</li>
                    <li data-id="x2">短袖</li>
                    <li data-id="x3">中袖</li>
                    <li data-id="x4">七分袖</li>
                    <li data-id="x5">九分袖</li>
                    <li data-id="x6">长袖</li>
                </ul>
                <div class="kind-name dre" flex="dir:left main:justify cross:center">
                    <span>礼服裙长</span>
                    <span></span>
                </div>
                <ul class="kind-list clearfix dre skirt">
                    <li class="remove_id">不限</li>
                    <li data-id="q1">长裙</li>
                    <li data-id="q2">中裙</li>
                    <li data-id="q3">短裙</li>
                </ul>
                <div class="kind-name all dre" flex="dir:left main:justify cross:center">
                    <span>商品材质</span>
                    <span></span>
                </div>
                <ul class="kind-list clearfix all dre material">
                    <li class="remove_id">不限</li>
                    <li data-id="d1">真丝</li>
                    <li data-id="d2">缎</li>
                    <li data-id="d3">蕾丝</li>
                    <li data-id="d4,d5">纱</li>
                    <li data-id="d6">雪纺</li>
                    <li data-id="d7">塔夫绸</li>
                </ul>
                <div class="kind-name all wed dre" flex="dir:left main:justify cross:center">
                    <span>商品颜色</span>
                    <span></span>
                </div>
                <ul class="kind-list clearfix all wed dre color">
                    <li class="remove_id">不限</li>
                    <li data-id="c1">纯白色</li>
                    <li data-id="c2">象牙白</li>
                    <li data-id="c3">香槟色</li>
                    <li data-id="c4">红色</li>
                    <li data-id="c5">紫色</li>
                    <li data-id="c6">黄色</li>
                    <li data-id="c7">蓝色</li>
                    <li data-id="c8">粉色</li>
                    <li data-id="c9">黑色</li>
                </ul>
                <div class="kind-name all wed" flex="dir:left main:justify cross:center">
                    <span>婚纱轮廓</span>
                    <a href="#">参数图解></a>
                </div>
                <ul class="kind-list clearfix all wed outline">
                    <li class="remove_id">不限</li>
                    <li data-id="a1">A字形</li>
                    <li data-id="a2">鱼尾形</li>
                    <li data-id="a3">公主裙</li>
                    <li data-id="a4">直筒裙</li>
                </ul>
                <div class="kind-name all wed dre" flex="dir:left main:justify cross:center">
                    <span>适用场景</span>
                    <span></span>
                </div>
                <ul class="kind-list clearfix all wed dre scene">
                    <li class="remove_id">不限</li>
                    <li data-id="n1">室内</li>
                    <li data-id="n2">户外</li>
                </ul>
            </div>
            <div flex-box="0" class="down-add"></div>
            <div class="search" flex="dir:left box:mean">
                <div flex-box="1" class="clear">清空</div>
                <div flex-box="2" class="make_sure">确定(有0个结果)</div>
            </div>
        </div>
    </div>
    <!-- 遮罩层 -->
    <div class="shandow hidden"></div>
    <!-- 分页 -->
    <section class="page" flex="dir:left box:mean cross:center"  flex-box="0">
        <div flex-box="1" flex="dir:left cross:center main:center" class="prev" onclick="prev()">
            <span class="triangle left"></span>
            <span>上一页</span>
        </div>
        <input type="tel" flex-box="0" class="page_num" placeholder="1/2" onblur="changepage()">
        <div flex-box="1" flex="dir:left cross:center main:center" class="next" onclick="next()">
            <span>下一页</span>
            <span class="triangle right"></span>
        </div>
    </section>
    <footer class="foot" flex="dir:top cross:center main:justify"  flex-box="0">
        <section class="foot_nav" flex="dir:left main:center cross:center">
            <a href="">触屏版</a>
            <span>|</span>
            <p id="download">客户端</p>
            <span>|</span>
            <a href="">站点地图</a>
        </section>
        <p>梦婚礼 menghunli.com版权所有</p>
        <p>京ICP备15053624号-2</p>
    </footer>
</body>
</html>
