<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>珠宝</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
</head>
<body>
    <header class="head" flex="dir:left main:justify cross:center" flex-box="0">
        <div class="back-box" flex-box="0" flex="dir:left cross:center">
            <img src="../img/Shape.png" alt="">
        </div>
        <p class="title">预约试穿</p>
        <div class="nav" flex="dir:left cross:center">
            <img src="../img/topbar_menu.png" alt="导航">
            <span>导航</span>
        </div>
    </header>
    <div class="nav-choose" id="nav-choose" flex="dir:top">
        <ul flex="dir:left box:mean">
            <li><a href="/page/h5/index/Index">精选</a></li>
            <li><a href="/page/h5/article/ChannelList?channel_id=5">资讯</a></li>
            <li><a href="/page/h5/article/ChannelList?channel_id=11">视频</a></li>
        </ul>
        <ul flex="dir:left box:mean">
            <li><a href="/page/h5/wedding_dress/GetWeddingDressList">挑婚纱</a></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <!-- 选择店家 -->
    <div class="explain" flex="dir:left cross:center">
        <div flex-box="0">选择店家</div>
        <div flex-box="1" class="pink">
            <p>到店试穿，享受更多优惠折扣</p>
        </div>
    </div>
    <!-- 商家列表 -->
    <div class="business-box" flex="dir:left cross:top" data-id="1">
        <div flex-box='0' class="business-icon"></div>
        <div flex-box='1' class="business-msg" flex="dir:top">
            <p class='name'>Sese婚礼王国</p>
            <p class="money">
                <span>售</span>
                <span>¥ 15,800</span>
                <span>租</span>
                <span>￥9,999/天</span>
            </p>
            <p class="address">蓝色港湾国际商业中心西门南侧商场一层17-LBS-193</p>
        </div>
        <div flex-box='0' class="business-choose"></div>
    </div>
    <div class="business-box" flex="dir:left cross:top" data-id="2">
        <div flex-box='0' class="business-icon"></div>
        <div flex-box='1' class="business-msg" flex="dir:top">
            <p class='name'>Sese婚礼王国</p>
            <p class="money">
                <span>售</span>
                <span>¥ 15,800</span>
                <span>租</span>
                <span>￥9,999/天</span>
            </p>
            <p class="address">蓝色港湾国际商业中心西门南侧商场一层17-LBS-193</p>
        </div>
        <div flex-box='0' class="business-choose"></div>
    </div>
    <div class="business-box" flex="dir:left cross:top" data-id="3">
        <div flex-box='0' class="business-icon"></div>
        <div flex-box='1' class="business-msg" flex="dir:top">
            <p class='name'>Sese婚礼王国</p>
            <p class="money">
                <span>售</span>
                <span>¥ 15,800</span>
                <span>租</span>
                <span>￥9,999/天</span>
            </p>
            <p class="address">蓝色港湾国际商业中心西门南侧商场一层17-LBS-193</p>
        </div>
        <div flex-box='0' class="business-choose"></div>
    </div>
    <div class="business-box" flex="dir:left cross:top" data-id="4">
        <div flex-box='0' class="business-icon"></div>
        <div flex-box='1' class="business-msg" flex="dir:top">
            <p class='name'>Sese婚礼王国</p>
            <p class="money">
                <span>售</span>
                <span>¥ 15,800</span>
                <span>租</span>
                <span>￥9,999/天</span>
            </p>
            <p class="address">蓝色港湾国际商业中心西门南侧商场一层17-LBS-193</p>
        </div>
        <div flex-box='0' class="business-choose"></div>
    </div>
    <div class="business-box" flex="dir:left cross:top" data-id="5">
        <div flex-box='0' class="business-icon"></div>
        <div flex-box='1' class="business-msg" flex="dir:top">
            <p class='name'>Sese婚礼王国</p>
            <p class="money">
                <span>售</span>
                <span>¥ 15,800</span>
                <span>租</span>
                <span>￥9,999/天</span>
            </p>
            <p class="address">蓝色港湾国际商业中心西门南侧商场一层17-LBS-193</p>
        </div>
        <div flex-box='0' class="business-choose"></div>
    </div>
    <div class="business-box" flex="dir:left cross:top" data-id="6">
        <div flex-box='0' class="business-icon"></div>
        <div flex-box='1' class="business-msg" flex="dir:top">
            <p class='name'>Sese婚礼王国</p>
            <p class="money">
                <span>售</span>
                <span>¥ 15,800</span>
                <span>租</span>
                <span>￥9,999/天</span>
            </p>
            <p class="address">蓝色港湾国际商业中心西门南侧商场一层17-LBS-193</p>
        </div>
        <div flex-box='0' class="business-choose"></div>
    </div>
    <!-- 联系方式 -->
    <div class="explain" flex="dir:left cross:center">
        <div flex-box="0">联系方式</div>
        <div flex-box="1">
            <p>仅用于店家与您联系，您的信息不会被泄露</p>
        </div>
    </div>
    <!-- 输入信息 -->
    <div class="upload-msg" flex="dir:top">
        <input flex-box="1" type='text' placeholder="填写您的姓名（必填）" id="name">
        <input flex-box="1" type='tel' placeholder="填写您的手机号码（必填）" id="tel">
        <div class="upload">
            <div>提交预约</div>
        </div>
    </div>
    <!-- 弹窗 -->
    <div class="shandow hidden"></div>
    <div class="alert-box hidden" flex="cross:center main:center">
        <p>你最多只能选择5个商家</p>
    </div>
    <footer class="foot" flex="dir:top cross:center main:justify">
        <section class="foot_nav" flex="dir:left main:center cross:center">
            <a href="">触屏版</a>
            <span>|</span>
            <p id="download">客户端</p>
            <span>|</span>
            <a href="">站点地图</a>
        </section>
        <p>梦婚礼 menghunli.com版权所有</p>
        <p>京ICP备15053624号-2</p>
    </footer>
</body>
</html>
