<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>珠宝</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
</head>
<body>
    <header class="head" flex="dir:left main:justify cross:center" flex-box="0">
        <div class="back-box" flex-box="0" flex="dir:left cross:center">
            <img src="../img/Shape.png" alt="">
            <span>梦婚礼-婚纱</span>
        </div>
        <div class="list-box" flex-box="0" flex="dir:left cross:center">
            <h1><a href="">资讯</a></h1>
            <h1><a href="">视频</a></h1>
            <h1><a href="">挑婚纱</a></h1>
        </div>
    </header>
    <!-- 图片 -->
    <section class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide swiper-zoom-container">
                <img data-src="http://oss-menghunliproductphotos.menghunli.com/commodity/2017-01/1484294788540_1484294843548_C89A9166.jpg@!640_db" class="swiper-lazy" alt="">
            </div>
            <div class="swiper-slide swiper-zoom-container">
                <img data-src="http://oss-menghunliproductphotos.menghunli.com/commodity/2017-01/1484294788540_1484294843548_C89A9166.jpg@!640_db" class="swiper-lazy" alt="">
            </div>
            <div class="swiper-slide swiper-zoom-container">
                <img data-src="http://oss-menghunliproductphotos.menghunli.com/commodity/2017-01/1484294788540_1484294843548_C89A9166.jpg@!640_db" class="swiper-lazy" alt="">
                <div class="last-show" flex="dir:left cross:center">
                    <img src="../img/image_arrow.png" class='arrow'>
                    <p>拖动查看商品详情</p>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </section>
    <!-- 名称 -->
    <section class="name-like-box" flex='dir:left main:justify cross:center'>
        <div class="name" flex-box='1'>
            <h2>周大福佳月花期系列金饰手链是件好事计算机安静</h2>
        </div>
        <div class='like' flex-box='0'></div>
    </section>
    <!-- 官方测评 -->
    <section class="evaluating-box">
        <div class="evaluating-title" flex='dir:left'>
            <span>官方测评</span>
        </div>
        <div class="evaluating-msg" flex='dir:top'>
            <div class="msg-name">专访钟丽缇婚礼策划师婧文：用海洋元素为钟丽缇做一场有灵魂的婚礼</div>
            <div class="msg">作为2016年度“全球最具影响力人物”，中国第一高定设计师郭培成就了无数当红女星的中式嫁衣与红毯礼服，只要出自她之手的作品，总能秒杀菲林无数，引人热议。</div>
            <div class="msg-see" flex="dir:right">
                <a href="">查看详情></a>
            </div>
        </div>
    </section>
    <!-- 珠宝详情 -->
    <section class="details-box">
        <div class="details-title" flex="dir:left main:justify cross:center">
            <h2 class="title-name">珠宝详情</h2>
            <a href="">参数图解></a>
        </div>
        <div class="details-list clearfix">
            <div flex="dir:left">
                <span flex-box="0" class="kind">品类</span>
                <span flex-box="1" class="value">砖石</span>
            </div>
            <div flex="dir:left">
                <span flex-box="0" class="kind">领口设计</span>
                <span flex-box="1" class="value">砖石</span>
            </div>
            <div flex="dir:left">
                <span flex-box="0" class="kind">品类</span>
                <span flex-box="1" class="value">砖石</span>
            </div>
            <div flex="dir:left">
                <span flex-box="0" class="kind">领口设计</span>
                <span flex-box="1" class="value">砖石</span>
            </div>
        </div>
    </section>
    <!-- 售卖信息 -->
    <section class="sell-msg-box">
        <div class="sell-title" flex="dir:left main:justify cross:center">
            <div class="sell-name">售卖信息</div>
        </div>
        <div class="sell-money-wed" flex="dir:left main:justify cross:center">
            <div flex-box="1" flex="dir:left cross:center box:mean">
               <div flex="dir:top">
                    <h2 class="word">售卖价格</h2>
                    <div class="money" flex="dir:left">
                        <h2>￥99,999</h2>
                        <h2>起</h2>
                    </div>
               </div>
               <div flex="dir:top">
                    <h2 class="word">售卖价格</h2>
                    <div class="money" flex="dir:left">
                        <h2>￥99,99</h2>
                        <h2>起</h2>
                    </div>
               </div>
            </div>
            <a flex-box="0" flex="main:center cross:center"><img src="../img/productcontent_price_saleicon.png"></a>
        </div>
        <p class="has-business">以下店铺有货，可到店体验试穿</p>
        <div class="business-box" flex="dir:left cross:top">
            <div flex-box='0' class="business-icon"></div>
            <div flex-box='1' class="business-msg" flex="dir:top">
                <p class='name'>Sese婚礼王国</p>
                <p class="money">
                    <span>售</span>
                    <span>¥ 15,800</span>
                </p>
                <p class="address">蓝色港湾国际商业中心西门南侧商场一层17-LBS-193</p>
            </div>
            <div flex-box='0' class="business-tel"><img src="../img/productcontent_adv_diaico@3x.png"></div>
        </div>
        <div class="business-box" flex="dir:left cross:top">
            <div flex-box='0' class="business-icon"></div>
            <div flex-box='1' class="business-msg" flex="dir:top">
                <p class='name'>Sese婚礼王国</p>
                <p class="money">
                    <span>售</span>
                    <span>¥ 15,800</span>
                </p>
                <p class="address">蓝色港湾国际商业中心西门南侧商场一层17-LBS-193</p>
            </div>
            <div flex-box='0' class="business-tel"><img src="../img/productcontent_adv_diaico@3x.png"></div>
        </div>
    </section>
    <!-- 相关推荐 -->
    <section class="other-box">
        <div class="other-title" flex="dir:left main:justify cross:center">
            <div class="other-name">售卖信息</div>
        </div>
        <div class="other-msg clearfix">
            <a class="other-list" flex='dir:top' href="">
                <div class="img-box">
                    <img src="http://oss-devimage.menghunli.com/commodity/2016-12/1482301646598_1482301641963_C89A3148.jpg@!300x300">
                </div>
                <div class="word">
                    <p>周大福珠宝首饰简约优雅18K金钻石戒指/钻戒U 103440</p>
                </div>
                <div class="money_like" flex="dir:left main:justify">
                    <span flex-box="0">¥ 15,880</span>
                </div>
            </a>
            <a class="other-list" flex='dir:top'>
                <div class="img-box">
                    <img src="http://oss-devimage.menghunli.com/commodity/2016-12/1482301646598_1482301641963_C89A3148.jpg@!300x300">
                </div>
                <div class="word">
                    <p>1</p>
                </div>
                <div class="money_like" flex="dir:left main:justify">
                    <span flex-box="0">¥ 15,880</span>
                </div>
            </a>
            <a class="other-list" flex='dir:top'>
                <div class="img-box">
                    <img src="http://oss-devimage.menghunli.com/commodity/2016-12/1482301646598_1482301641963_C89A3148.jpg@!300x300">
                </div>
                <div class="word">
                    <p>1</p>
                </div>
                <div class="money_like" flex="dir:left main:justify">
                    <span flex-box="0">¥ 15,880</span>
                </div>
            </a>
            <a class="other-list" flex='dir:top'>
                <div class="img-box">
                    <img src="http://oss-devimage.menghunli.com/commodity/2016-12/1482301646598_1482301641963_C89A3148.jpg@!300x300">
                </div>
                <div class="word">
                    <p>1</p>
                </div>
                <div class="money_like" flex="dir:left main:justify">
                    <span flex-box="0">¥ 15,880</span>
                </div>
            </a>
        </div>
    </section>
    <footer class="foot" flex="dir:top cross:center main:justify" flex-box="0">
        <section class="foot_nav" flex="dir:left main:center cross:center">
            <a href="">触屏版</a>
            <span>|</span>
            <p id="download">客户端</p>
            <span>|</span>
            <a href="">站点地图</a>
        </section>
        <p>梦婚礼 menghunli.com版权所有</p>
        <p>京ICP备15053624号-2</p>
    </footer>
</body>
</html>
